name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build (SM ${{ matrix.sm-target }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        sm-target: ["1.12", "1.13"]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # nativevotes doesn't have a package for SM 1.13, but it doesn't matter since
      # we only need the .sp files for compilation
      - name: Setup SourceMod
        run: |
          export LATEST_SOURCEMOD=$(curl https://sm.alliedmods.net/smdrop/${{ matrix.sm-target }}/sourcemod-latest-linux)
          wget -O sourcemod.tar.gz https://sm.alliedmods.net/smdrop/${{ matrix.sm-target }}/$LATEST_SOURCEMOD
          mkdir sourcemod
          cd sourcemod
          tar xf ../sourcemod.tar.gz
          cd addons/sourcemod/scripting
          mv compile.sh ../../../../scripting
          mv spcomp* ../../../../scripting
          mv include/*.inc ../../../../scripting/include

      - name: Get current Git commit hash
        run: echo "GIT_COMMIT=-$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV

      - name: Preprocess reverts.sp
        run: ./reverts-git-commit.sh

      - name: Make Windows and Patchless reverts variants
        run: |
          cd scripting
          cp reverts.sp reverts-patchless.sp
          cp reverts.sp reverts-win32.sp
          sed -i "1i#define NO_MEMPATCHES" reverts-patchless.sp
          sed -i "1i#define WIN32" reverts-win32.sp

      - name: Build plugins
        run: |
          cd scripting
          ./compile.sh *.sp

      - name: Package plugins
        run: |
          mkdir -p artifact/plugins
          mkdir artifact/gamedata
          mkdir artifact/translations
          mv scripting/compiled/*.smx artifact/plugins/
          mv gamedata/*.txt artifact/gamedata/
          mv translations/* artifact/translations/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: artifact
          name: package-${{ matrix.sm-target }}
